@import '~bootstrap/scss/bootstrap';

header{
    width: 100%;
    height: 120px;
    background-color: white;
    .container{
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      vertical-align: middle;
      img{
        height: 90px;
      }
      nav{
        height: 100%;
        ul{
          display: flex;
          height: 100%;
          li{
            height: 100%;
            list-style: none;
            padding: 0 10px;
            a{
              display: flex;
              align-items: center;
              height: 100%;
              text-decoration: none;
              color: black;
              text-transform: uppercase;
              &:hover{
                color: #0D69F6;
                border-bottom: 5px solid #0D69F6;
              }
            }
          }
        }
      }
    }
  }

  .jumbo{
    height: 400px;
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
  }

  .slider{
    height: 150px;
    background-color: #0D69F6;
    .container{
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img{
        height: 45px;
        vertical-align: middle;
        margin-right: 15px;
      }
      span{
        text-transform: uppercase;
        color: white;
        font-size: .8rem;
      }
    }
  }

  footer{
    .footer-top{
      background-image: url('/resources/img/footer-bg.jpg');
      background-size: cover;
      .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-image: url('/resources/img/dc-logo-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
      }
      nav{
        display: flex;
        margin: 30px 0;
        .col{
          margin-right: 40px;
        }
      }
      h3{
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      ul{
        margin-bottom: 10px;
        li{
          list-style: none;
          a{
            text-decoration: none;
            font-size: .8rem;
            color: #858483;
          }
        }
      }
    }
    .footer-bottom{
      height: 120px;
      background-color: #242424;
      .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        button{
          border: 1px solid #0D6EFF;
          background-color: transparent;
          padding: 10px;
          &:hover{
            border: 1px solid #242424;
            background-color: #0D6EFF;
          }
          a{
            color: white;
            text-decoration: none;
          }
        }
      }
      .icons{
        display: flex;
        align-items: center;
        h3, img{
            margin: 10px;
            height: 30px;
        }
        h3{
          color: #0D6EFF;
        }
      }
    }
  }

  main{
    padding: 50px 0;
    background-color: #151515;
    display: flex;
    align-items: center;
    h1{
      color: white;
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      button{
        margin-top: 30px;
        background-color: #0D6EFF;
        padding: 10px 50px;
        border: 1px solid black;
        &:hover{
          background-color: transparent;
          border: 1px solid #0D6EFF;
        }
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
    .button{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .card{
    padding: 10px;
    width: calc(100% / 6);
    height: 100%;
    background-color: transparent;
    border: none;
    transition: all .4s;
    &:hover{
        transform: scale(1.05);
    }
    img{
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: top;
    }
    h4{
      margin-top: 10px;
      color: white;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
